// This is an example credentials file. Copy to credentials.h and edit the configuration
#pragma once
#include <ESP8266WiFi.h> // To use IPAddress below

#define WIFI_IS_DOT1X 0 // Set to 1 if your network uses 802.1X auth. The WIFI_USERNAME will be used in this case
#define WIFI_USE_STATIC_CONFIG 1 // Set to 1 to use a static network configuration (IP address, ...). Only works on WPA2 Personal networks

#define WIFI_SSID "MyNetworkName" // SSID of your network
#define WIFI_USERNAME "SuperUser" // Username for 802.1X
#define WIFI_PASSWORD "ResuRepus" // Password of the network
	
const IPAddress WIFI_STATIC_IP(192, 168, 1, 5);
const IPAddress WIFI_STATIC_GATEWAY(192, 168, 1, 1);
const IPAddress WIFI_STATIC_SUBNET_MASK(255, 255, 255, 0);
const IPAddress WIFI_STATIC_DNS(1, 1, 1, 1);